
{% extends "./layout_noback_signedin.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">        	
		<form action="choose_file_to_upload" method="get" class="form">
			<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
         What do you want to submit? 
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-to-submit-1" name="whattosubmit" type="radio" value="ilr">
        <label class="govuk-label govuk-radios__label" for="what-to-submit-1">
        ILR (Individualised Learner Records)
      </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-to-submit-2" name="whattosubmit" type="radio" value="eas">
        <label class="govuk-label govuk-radios__label" for="what-to-submit-2">
        EAS (Earnings Adjustment Statement) 
      </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-to-submit-3" name="whattosubmit" type="radio" value="esf">
        <label class="govuk-label govuk-radios__label" for="what-to-submit-3">
        ESF (European Social Fund) supplementary data
      </label>
      </div>
      </div>
  </fieldset>	 
			</div>
<button class="govuk-button">
  Continue
</button>
			
		</form>
    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_help.html" %}
      </div>
</div>

{% endblock %}
