
{% extends "./layout.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">		
		<h1 class="govuk-heading-xl">Reports history</h1>
        <p>View your final reports from each period at the time of close.</p>
        <h2 class="govuk-heading-m">Acedmeic year 2018/2019</h2>
       
        <table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Return period and download</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Return period</th>
      <th class="govuk-table__header" scope="col">Download</th>
     
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R01</th>
        <td class="govuk-table__cell "><a href="#">R01-123456.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>    
  </tbody>
</table>
				
        <h2 class="govuk-heading-m">Acedmeic year 2017/2018</h2>
       
        <table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Return period and download</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Return period</th>
      <th class="govuk-table__header" scope="col">Download</th>
     
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R14</th>
        <td class="govuk-table__cell "><a href="#">R14-123456.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R13</th>
      <td class="govuk-table__cell "><a href="#">R13-123456.ZIP</a> (Zip, 1.2MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R12</th>
      <td class="govuk-table__cell "><a href="#">R12-123456.ZIP</a> (Zip, 1.8MB)</td>        
    </tr>
       <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R11</th>
      <td class="govuk-table__cell "><a href="#">R11-123456.ZIP</a> (Zip, 1.1MB)</td>        
    </tr>
  </tbody>
</table>
    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_reports.html" %}
      </div>
</div>

{% endblock %}
