
{% extends "layout.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Contents        
      </h1>
      <p>
        Please do not enter any personal information. This prototype is not secure.
      </p>
		<h2 class="govuk-heading-l">Normal User Journey (Happy Path)</h2>
		
<ul class="govuk-list govuk-list--number">
	<li><a href="./startpage.html">Start page</a></li>
  <li><a href="./idams.html">IDAMS</a></li>
   <li><a href="what_data_do_you_want_to_submit.html">What data do you want to submit?</a></li>
	<li><a href="what_data_do_you_want_to_submit_error.html">What data do you want to submit? (Error state)</a></li>
</ul>



      
    </div>
</div>

{% endblock %}
