
{% extends "layout.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
		<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
         What data do you want to submit? 
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-to-submit-1" name="what-to-submit" type="radio" value="ILR">
        <label class="govuk-label govuk-radios__label" for="what-to-submit-1">
        Individualised learner records (ILR) 
      </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-to-submit-2" name="what-to-submit" type="radio" value="EAS">
        <label class="govuk-label govuk-radios__label" for="what-to-submit-2">
        Earnings Adjustment statements (EAS) 
      </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-to-submit-3" name="what-to-submit" type="radio" value="ESF">
        <label class="govuk-label govuk-radios__label" for="what-to-submit-3">
       European Social Fund (ESF) supplementary data
      </label>
      </div>
    </div>	 
  </fieldset>			 
</div>
<p><a href="#" type="submit" class="govuk-button">Continue</a></p>
		  
    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_help.html" %}
      </div>
</div>

{% endblock %}
