
{% extends "./layout.html" %}

{% block beforeContent %}
   {% include "./includes/back_what_data_do_you_want_to_submit.html" %}
{% endblock %}

{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<div class="govuk-panel govuk-panel--confirmation">
          <h2 class="govuk-panel__title">
           EAS statement updated
          </h2>
          <div class="govuk-panel__body">
			  Reference: 1234
           
          </div>
        </div>		
<!--<p>File: <span class="govuk-!-font-weight-bold">EAS-12345678-8976-20180806-151209.CSV</span></p>-->
<p>Submitted by: <span class="govuk-!-font-weight-bold">Sam Smith</span></p>
<p>At: <span class="govuk-!-font-weight-bold">3:17pm on Wednesday 6 August 2018</span></p> 

<h3 class="govuk-heading-m">What happens next?</h3>
    <p><a href="#">View reports on the Hub</a></p>
		<p><a href="./what_data_do_you_want_to_submit.html">Submit another data return</a></p>
    </div>
	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_help.html" %}
      </div>
</div>

{% endblock %}
