
{% extends "./layout_noback_signedin.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sorry, there’s a problem with this service</h1>

      <p>We’re very sorry for holding you up. We’ve logged
this issue and will investigate it urgently.</p>

      <p>We will email you as soon as the system is up and
running again.</p>


      <h2 class="govuk-heading-m">[Collectiona name] submissions</h2>
      <p>We’re aware the deadline is fast approaching. If this
is affecting your submission, please contact Service Desk so we can help.</p>

<p>If your task isn’t critical, please try again later.</p>

    <h2 class="govuk-heading-m">Were you trying to upload a file?</h2>

    <p>You may need to upload your file again. Please
check your submissions history when the service is
back up.</p>
    </div>
</div>

{% endblock %}
