{% extends "./layout.html" %}

{% block beforeContent %}
  {% include "./includes/back_choose_file_to_upload.html" %}
{% endblock %}

{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


		<h1 class="govuk-heading-xl">Review errors before submitting your ILR file<span class="govuk-caption-xl">Return Period 2 (R02)</span></h1>


		<p><span class="govuk-!-font-weight-bold">Learners in file</span>: 3,893</p>

		<p><span class="govuk-!-font-weight-bold">Errors in file</span>: 15 (affecting 14 learners)</p>

		<p><span class="govuk-!-font-weight-bold">Warnings in file</span>: 2,291 (affecting 1,027 learners)</p>

		<p>Use the report below to fix the errors in your file.<br>
        <a href="#">Errors and warnings report</a> (CSV, 78KB)</p>



    {% from "warning-text/macro.njk" import govukWarningText %}

    {{ govukWarningText({
      text: "You’ll only be paid for learners that do not have errors in their data",
      iconFallbackText: "Warning"
    }) }}

    <!-- <p><a href="./ilr_data_submitted.html" >Submit this file anyway</a> <br>You may want to do this if errors are happening because of a known issue.</p>

    <a href="./choose_file_to_upload.html" type="submit" class="govuk-button">Upload an updated file</a> -->

    <form action="choose_file_to_upload" method="get" class="form">
			<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h3 class="govuk-heading-m">
         What do you want to do?
      </h3>
    </legend>
    <div class="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="fix-errors" name="errordata" type="radio" value="fix">
        <label class="govuk-label govuk-radios__label" for="fix-errors">
        Fix errors and submit a new file
      </label>
      </div>
      <!-- <div class="govuk-radios__divider">or</div> -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="submit-file" name="errordata" type="radio" value="submit">
        <label class="govuk-label govuk-radios__label" for="submit-file">
        Submit this file anyway (You may want to do this if your errors are happening because of a known issue.)
      </label>
      </div>
      </div>
  </fieldset>
			</div>
<a href="#" class="govuk-button" >
  Continue
</a>

<script type="text/javascript">

</script>

		</form>

    </div>




	  <div class="govuk-grid-column-one-third">
        {% include "./includes/sidebar_help.html" %}
      </div>
</div>

{% endblock %}
