
{% extends "layout.html" %}


{% block pageTitle %}
  Data Collections Transformation Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Data Collections Transformation        
      </h1>
      <p>
        Please do not enter any personal information. This prototype is not secure.
      </p>

     <table class="govuk-table">
  <caption class="govuk-table__caption visually-hidden">List of versions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Version</th>
		<th class="govuk-table__header" scope="col">Updates</th>
      <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
	   <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.1.0</th>
		<td class="govuk-table__cell "><ul class="govuk-list govuk-list--bullet">
			<p>We:</p>
  <li>updated the content</li>
  <li>added EAS and ESF flow</li>  
</ul></td>
      <td class="govuk-table__cell "><a href="9-1-0/contents.html">Contents</a></td>
		 <td class="govuk-table__cell "><a href="./9-1-0/start.html">
  Start now
</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">9.0.0</th>
		<td class="govuk-table__cell "><ul class="govuk-list govuk-list--bullet">
			<p>We:</p>
  <li>updated the content</li>
  <li>split out error and submission pages</li>
  <li>used the new design system</li>
</ul></td>
      <td class="govuk-table__cell "><a href="9-0-0/contents.html">Contents</a></td>
		 <td class="govuk-table__cell "><a href="./9-0-0/start.html">
  Start now
</a></td>
    </tr>
   
  </tbody>
</table>

      
    </div>
</div>

{% endblock %}
